<section>
    <div class="container">
        <div class="search_input">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" id="search" name="search" />
        </div>

        <div class="category_select flex">
            <label for="category">Categoria</label>
            <select id="category" name="category">
                <option disabled selected></option>
                <option value="eletronicos">Eletrônicos</option>
                <option value="vestuario">Vestuário</option>
                <option value="alimentos">Alimentos</option>
            </select>
        </div>

        <div class="supplier_select flex">
            <label for="supplier">Fornecedor</label>
            <select id="supplier" name="supplier">
                <option disabled selected></option>
                <option value="eletronicos">Eletrônicos</option>
                <option value="vestuario">Vestuário</option>
                <option value="alimentos">Alimentos</option>
            </select>
        </div>

        <div class="status_select flex">
            <label for="status">Status</label>
            <select id="status" name="status">
                <option disabled selected></option>
                <option value="eletronicos">Eletrônicos</option>
                <option value="vestuario">Vestuário</option>
                <option value="alimentos">Alimentos</option>
            </select>
        </div>

        <div class="date_input flex">
            <label for="expiration_date">Validade</label>
            <input type="date" id="expiration_date" name="expiration_date" />
        </div>
    </div>
</section>