<mat-toolbar >
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="brand">
    <h1 class="title">StoCat</h1>
    <img src="assets/images/logo.png" class="logo" alt="logo">
  </div>

  <div class="profile">
    <img src="assets/images/person-profile.png" class="profile_image" alt="profile_image">
  </div>
</mat-toolbar>

<mat-sidenav-container autosize="true">
  <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : 'side'" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? false : true" [disableClose]="true">
    <mat-nav-list>
      @for (item of menuItems; track $index) {
        <a mat-list-item>
          <span class="entry"> 
            <mat-icon>{{item.icon}}</mat-icon>          
              @if(!isCollapsed){
                <span>{{item.label}}</span>
              }
          </span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <h2>Content</h2>
    <div class="grid">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>