<header>
  <mat-toolbar >
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="brand">
      <h1 class="title">StoCat</h1>
      <img src="assets/images/logo.png" class="logo" alt="Icone do sistema">
    </div>

    <div class="profile" (click)="logout()"> 
        <img src="assets/images/person-profile.png" class="profile_image" alt="Perfil do usuário">  
    </div>
  </mat-toolbar>
</header>

<mat-sidenav-container autosize="true">
  <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : 'side'" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? false : true" [disableClose]="true">
    <nav aria-label="Menu principal">
      <mat-nav-list>
      @if(menuItems.length === 0 && !isCollapsed){
        <section class="error_message_menu_container">
          <span class="error_message_menu">{{ errorMessageMenu }}</span>
          <img src="assets/gifs/banana-cat-crying.gif" class="banana_cat" alt="banana cat criying">
        </section>
      }
      @for(item of menuItems; track $index){
        <a mat-list-item href="{{item.route}}">
          <span class="entry"> 
            <mat-icon aria-label="{{item.label}}">{{item.icon}}</mat-icon>          
              @if(!isCollapsed){
                <p>{{item.label}}</p>
              }
          </span>
        </a>
      }
    </mat-nav-list>
    </nav>
  </mat-sidenav>
</mat-sidenav-container>

