h1{
    padding: 0 1rem;
}

h2{padding: 1rem;}

mat-toolbar{
    position:fixed;
    top:0;
    z-index: 2;
    width: max-content;
    background-color: #291470;
    color: #ffff;
    width: 100%;

    h1{
        font-family: "Press Start 2P", system-ui;
        font-weight: 400;
        font-style: normal;
    }
}

//VER ESSE ABSOLUTE
mat-sidenav-container{
    height: 100%;
    width: fit-content;
    position: fixed;
    top: 0;

    @media screen and (max-width: 800px){
        width: 80vh;
    }
}

span{
    color: #fff;
}

a:hover{
    background-color: #ffffff10;
}

mat-nav-list a:hover{
    background-color: #ffffff48;   
}


// Move the content down so that it won't be hidden by the toolbar
mat-sidenav{
    background-color: #1E104E;
    transition: width 0.15s ease;
    @media screen and (min-width: 600px){
      padding-top: 4rem;
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }

  }

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content{
    padding-left: 1rem;
    top: 3.5rem;
}
::ng-deep .mat-drawer-transition .mat-drawer{
    transition: transform 0.6s ease !important;
}
::ng-deep .mat-drawer-transition .mat-drawer-content{
    transition: margin 0.6s ease !important;
}

.expanded{
    width: 250px;
}

.logo{
    background-color: none;
    width: 4%;
    position: relative;
    right: 0;

    @media screen and (max-width: 800px) {
        width: 16%;
    }
}

.brand{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: none;
}

.profile_image{
    width: 14%;
    height: 14%;
}

.profile{
    width: fit-content;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.profile img{
    cursor: pointer;
}

.profile img:hover{
    filter:  drop-shadow(2px 2px 2px #ffffffa7);
}

.error_message_menu_container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.error_message_menu{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    width: 70%;
    background-color: #ac0000ec;
    border-radius: 15px;
    padding: 4%;
    text-align: center;
    margin-top: 5%;
}

.banana_cat{
    width: 50%;
    margin-top: 45%;
    transform: scaleX(-1);
}

input{
    width: 100%;
}